.what {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    /* grid-auto-rows: 50px 350px 50px; */
    grid-template-areas :
            "m m h h h h h h h h h"
            "m m c c c c c c c c c"
            "f f f f f f f f f f f";

}
@media screen and (max-width: 640px){
    .what{
        grid-template-areas :
            "m m m h h h h h h h h"
            "c c c c c c c c c c c "
            "f f f f f f f f f f f";
    }
}
.head {
    grid-area : h;
    background-color: aquamarine;
}
.menu {
    grid-area : m; 
    background-color: antiquewhite;
}
.set {
    grid-area : c; 
    background-color: bisque;
}
.foot {
    grid-area : f; 
    background-color: blue;
}
