<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/common.css">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <script src="../static/js/common.js"></script>
        <script src="https://kit.fontawesome.com/447b429f54.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <title>메인페이지 테스트</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

        <style>
            h1 {
                font-size: large;
            }
            section {
                margin: 10px 12px;
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
            }
        </style>

    <body class="what">
        <header w3-include-html = "header" class="head"></header>
        <div class="menu">매뉴 입니다</div>
        <div class="set">
            <section>
                <h1>회원정보 수정</h1>
                <button type="button" class="btn btn-primary">정보수정</button>
            </section>
            <ul>
                <li class="change-id">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="새로운 아이디를 입력하세요" aria-label="Recipient's username" aria-describedby="button-addon2">
                    </div>
                </li>
                <li class="change-pw">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="새로운 비밀번호를 입력하세요" aria-label="Recipient's username" aria-describedby="button-addon2">
                    </div>
                </li>
                <li class="chage-name">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="새로운 이름을 입력하세요" aria-label="Recipient's username" aria-describedby="button-addon2">
                    </div>
                </li>
                <li class="chage-number">
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" placeholder="새로운 전화번호를 입력하세요" aria-label="Recipient's username" aria-describedby="button-addon2">
                    </div>
                </li>
                <li class="chage-email">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="새로운 이메일을 입력하세요" aria-label="Recipient's username" aria-describedby="button-addon2">
                    </div>
                </li>
                <li>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="새로운 주소를 입력하세요" aria-label="Recipient's username" aria-describedby="button-addon2">
                    </div>
                </li>
            </ul>
            
        </div>

        <script>
            includeHTML();
        </script>
        <footer w3-include-html = "footer" class="foot"></footer>
    </body>

</html>